# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug {{ interface_name.stdout }}
iface {{ interface_name.stdout }} inet static
    address {{ network.static_ip }}
    netmask {{ network.netmask }}
    gateway {{ network.gateway }}
