client
dev tun
proto {{ vpn.protocol }}
{% if vpn.public_hostname is defined and vpn.public_hostname | length > 0 %}
remote {{ vpn.public_hostname }} {{ vpn.port }}
{% else %}
remote {{ network.static_ip }} {{ vpn.port }}
{% endif %}
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
auth SHA512
cipher AES-256-CBC
ignore-unknown-option block-outside-dns
block-outside-dns
verb 3
