local {{ network.static_ip }}
port {{ vpn.port }}
proto {{ vpn.protocol }}
dev tun
ca ca.crt
cert server.crt
key server.key
dh dh.pem
auth SHA512
tls-crypt tc.key

# server pool config
mode server
tls-server
topology subnet
push "topology subnet"
ifconfig {{ vpn.network.gateway }} {{ vpn.network.netmask }}
ifconfig-pool {{ vpn.network.dhcp_min }} {{ vpn.network.dhcp_max }} {{ vpn.network.netmask }} 

# static ip addresses are here
client-config-dir ccd
ifconfig-pool-persist ipp.txt 0

{% if not enable_vpn_only_communication %}
push "route-gateway {{ vpn.network.gateway }}"
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS {{ vpn.primary_dns }}"
push "dhcp-option DNS {{ vpn.secondary_dns }}"
{% else %}
# this will only allow client to client communication inside the vpn
client-to-client
push "route {{ vpn.network.network }}/{{ vpn.network.netmask }}"
{% endif %}


keepalive 10 120
cipher AES-256-CBC
user nobody
group nogroup
persist-key
persist-tun
verb 3
crl-verify crl.pem

{% if vpn.protocol == 'udp' or vpn.protocol == 'UDP' %}
explicit-exit-notify
{% endif %}
